.navContainer{
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
    box-sizing: border-box;
}
.logo{
    font-family:"Matemasie",sans-serif;
    font-size: 30px;
    margin: 0;
}

.navLinks {
    width: 40%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
}

.navLinks li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navLinks li .active{
    color: red;
}